.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.dashboard button {
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 19px;
  background-image: url(../../Images/abstract.png);
  background-size: cover;
}
