.navbar__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #f8f8fa;
  height: 60px;
  padding: 0 9rem;
}
.navbar__logo {
  margin-right: auto;
}

.navbar li,
.navbar__logo {
  display: inline-block;
  list-style: none;
  cursor: default;
  height: 60px;
  line-height: 60px;
  padding: 0 40px;
}
.navbar li:hover {
  background: #f3f3f3;
  transition: background 0.3s;
}

.navbar__header button {
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 19px;
  background-image: url(../../Images/abstract.png);
  background-size: cover;
}
